.btn-principal {
    padding: 12px 22px;
    background-color: #16172B; /* Color gris */
    color: #fff; /* Texto en color blanco */
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition-duration: 2s;

    &:hover {
        color: #fff;
        background-color: #2A2B42;
        box-shadow: 0 3px 13px 1px rgb(255 0 0 / 30%);
        scale: 1.04;
        border-radius: 10;
        transition: all 150ms ease-in-out;
      }
}