* {
   box-sizing: border-box;
}
:root {
  --color-secundary: #2f67ec;
}
#menu {
  width: auto;
  color: white;
  display: flex;
  height: auto;
  padding: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}  
nav {
  position: relative;
  background: #1f2635;
  font-weight: 400;
  font-size: 0;
  display: flex;
  padding: 0;
  width: 80%;
}
nav .item {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 0 40px;
  cursor: pointer;
  z-index: 5;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.dropdown {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 60px;
}
.dropdown > div {
  transform: translate(0, -100%);
  transition: all 0.5s 0.1s;
  position: relative;
}
.dropdown a {
  display: block;
  padding: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: var(--color-secundary);
}
.dropdown a:hover {
  background: #254fb5;
}
nav .item:hover > .dropdown > div {
  transform: translate(0);
}

nav .item:nth-child(1):hover ~ .underline {
  transform: translate(0, 0);
}

nav .item:nth-child(2):hover ~ .underline {
  transform: translate(100%, 0);
}

nav .item:nth-child(3):hover ~ .underline {
  transform: translate(200%, 0);
}

nav .item:nth-child(4):hover ~ .underline {
  transform: translate(300%, 0);
}
#navlink {
  color: #f1f1f1;
  text-decoration: none;
}