/*
.contenedor-testimonio {
  width: 1110px;
  height: 370px;
  margin: 10px 10px 50px;
  border-radius: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16172B;
  box-shadow: 0 3px 13px 1px rgb(255 0 0 / 30%);
  
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}
@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.imagen-testimonio {
  height: 100%;
  width: auto;
  border-radius: 25px;
  transition: transform .4s ease-in-out;
}
.imagen-testimonio:hover {
  transform: scale(1.05);
}
.contenedor-texto-testimonio {
  text-align: center;
  padding: 40px;
  font-family: Lato, sans-serif;
  line-height: 1.5rem;
  color: #fff;
}
.nombre-testimonio {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.años-testimonio {
  font-size: 1.3rem;
}
.cargo-testimonio {
  font-size: 1.3rem;
  margin: 15px;
  padding-bottom: 30px;
}
.texto-testimonio {
  font-size: 1.1rem;
  text-align: justify;
  padding-bottom: 20px;
}
*/
.contenedor-testimonio {
  width: 1110px;
  height: 370px;
  margin: 10px 10px 50px;
  border-radius: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16172B;
  box-shadow: 0 3px 13px 1px rgb(255 0 0 / 30%);
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@media screen and (max-width: 780px) {
  .contenedor-testimonio {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 10px auto 30px;
    flex-direction: column;
  }

  .contenedor-testimonio .imagen-testimonio {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .contenedor-texto-testimonio {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .contenedor-testimonio {
    width: 100%;
  }

  .contenedor-testimonio .imagen-testimonio {
    border-radius: 10px;
  }
}

.imagen-testimonio {
  height: 100%;
  width: auto;
  border-radius: 20px; 
  transition: transform .4s ease-in-out;
}

.imagen-testimonio:hover {
  transform: scale(1.05);
}

.contenedor-texto-testimonio {
  text-align: center;
  padding: 20px;
  font-family: Lato, sans-serif;
  line-height: 1.5rem;
  color: #fff;
}

.nombre-testimonio {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.años-testimonio {
  font-size: 1.3rem;
}

.cargo-testimonio {
  font-size: 1.3rem;
  margin: 15px;
  padding-bottom: 20px;
}

.texto-testimonio {
  font-size: 1.1rem;
  text-align: justify;
  text-wrap: pretty;
  padding-bottom: 10px;
}